.box {
  position: relative;
  transition: all 200ms cubic-bezier(0.87, 0.03, 0.04, 0.93);
  //prettier-ignore
  animation: 
  width-wide 0.5s cubic-bezier(0.87, 0.03, 0.04, 0.93) 0.9s forwards,
  width100-0 0.5s cubic-bezier(0.87, 0.03, 0.04, 0.93) calc(0.9s + 0.6s + 2.2s) forwards;
  overflow: hidden;

  //prettier-ignore
  &::after {
    content: "";
    display: block;
    animation: 
    height-wide 0.5s cubic-bezier(0.87, 0.03, 0.04, 0.93) calc(0.9s + 0.6s) forwards,
    height100-0 0.5s cubic-bezier(0.87, 0.03, 0.04, 0.93) calc(0.9s + 0.6s + 1.6s) forwards;
  }
  transition: all 200ms ease-in;
}

//prettier-ignore
.box-text {
  span {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bolder;
    &:nth-child(1) {
      color: black;
      text-transform: uppercase;
      left: 50%;
      top: 30%;
      animation: 
      fadeIn 0.2s ease-in 1.7s forwards,
      to-white 0.2s ease-in 2.3s forwards,
      to-black 0.2s ease-in 2.6s forwards,
      to-white 0.2s ease-in 2.9s forwards,
      to-black 0.2s ease-in 3.3s forwards, 
      fadeOut 0.2s ease-in 3.3s forwards,
    }

    &:nth-child(3) {
      color: black;
      text-transform: uppercase;
      left: 50%;
      bottom: 0%;
      animation: 
      fadeIn 0.2s ease-in 1.7s forwards,
      to-white 0.2s ease-in 2.3s forwards,
      to-black 0.2s ease-in 2.6s forwards,
      to-white 0.2s ease-in 2.9s forwards,
      to-black 0.2s ease-in 3.3s forwards, 
      fadeOut 0.2s ease-in 3.3s forwards,
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.overlay-1 {
  transform: translateX(-100%);
  background-color: $theme-modal-color4;
  animation: slide-right 0.3s cubic-bezier(0.87, 0.03, 0.04, 0.93) 1.9s both;
}

.overlay-2 {
  transform: translateY(-100%);
  background-color: #2a2b3d;
  animation: slide-bottom 0.3s cubic-bezier(0.87, 0.03, 0.04, 0.93) 2.2s both;
}

.overlay-3 {
  transform: translateX(100%);
  background-color: #c7d35e;
  animation: slide-left 0.3s cubic-bezier(0.87, 0.03, 0.04, 0.93) 2.5s both;
}

.overlay-4 {
  transform: translateY(100%);
  background-color: #e27170;
  animation: slide-top 0.3s cubic-bezier(0.87, 0.03, 0.04, 0.93) 2.8s both;
}

.divider {
  border: 1px solid black;
  width: calc(100% - 35px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //prettier-ignore
  animation: 
  border-to-white 0.2s ease-in-out 2.3s forwards,
  border-to-black 0.2s ease-in-out 2.6s forwards
}

@keyframes fill-bg {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes to-white {
  from {
    color: black;
  }

  to {
    color: #fff;
  }
}

@keyframes to-black {
  from {
    color: #fff;
  }

  to {
    color: black;
  }
}

@keyframes border-to-white {
  from {
    border: 1px solid black;
  }

  to {
    border: 1px solid #fff;
  }
}

@keyframes border-to-black {
  from {
    border: 1px solid #fff;
  }

  to {
    border: 1px solid black;
  }
}
