.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: black;
}

.parallax-hero {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;

  img {
    --skew: 700px;
    object-fit: cover;
    width: 100vw;
    position: absolute;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
    animation: maskInParallax 1s cubic-bezier(0.79, 0.05, 0.28, 1.07) both;
  }
  h1 {
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 7rem;
  }
}

.parallax-content {
  font-size: 2rem;
  padding: 2rem;
  transform: translateZ(-5%);
  position: absolute;
  background-color: #333;
  color: white;
  border-radius: 25px;
  margin: 0px 5rem;
}

//prettier-ignore
@keyframes maskInParallax {
    from {
        clip-path: polygon(0 0, 0 0, calc(var(--skew) * -1) 100%, calc(var(--skew) * -1) 100%);
    }

    to {
        clip-path: polygon(0 0, calc(100% + var(--skew)) 0, 100% 100%, calc(var(--skew) * -1) 100%);
    }
}
